<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <script src="/javascripts/jquery-slim.min.js"></script>
    <!-- <script src="/javascripts/bootstrap.min.js"></script> -->
  </head>
  <body class="text-center py-5">
    <h2 class="text-success mt-5"><%- msg %></h2>
  </body>
</html>
